li {
  list-style: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.Header a {
  text-decoration: none;
  color: #ec7f37;
  font-size: 1.5rem;
  padding: 20px;
}

.Header a:hover {
  color: #ff5a09;
}

.Header h1 {
  margin-left: 2rem;
  color: #ff5a09;
}

.Header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

.Header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
.Header .hamburger .bar::after,
.Header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
.Header .hamburger .bar::after {
  top: 8px;
}
.Header .hamburger .bar::before {
  bottom: 8px;
}
.Header .hamburger.active .bar::before {
  bottom: 0;
}
.Header .hamburger.active .bar::after {
  top: 0;
}

.Header .nav-list ul {
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 200%;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.5s ease left;
}

.Header .nav-list.active ul {
  display: flex;
  left: 0;
  transition: 0.5s ease left;
}

.Header .nav-list.active ul a {
  display: inline-block;
}

/* media queries for medium screen */

@media only screen and (min-width: 900px) {
  .Header .hamburger {
    display: none;
  }

  .Header .nav-list ul {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: fit-content;
    background-color: transparent;
    margin-right: 2rem;
  }

  .Header a {
    display: inline-block;
    padding: 15px;
  }
}

/* end media queries for medium screen */
